@CHARSET "UTF-8";
#vid1,#vid_chat {
	width: 200px;
	height: 200px;
}

#vid1 {
	float: left;
	margin-left: 160px;
}

.main_left,.main_right {
	width: 200px;
	font-family: inherit;
	font-size: 13px;
}

.main_left {
	float: left;
	text-align: right;
	width: 100px;
}

.main_right {
	font-weight: bolder;
	float: left;
	margin-bottom: 6px;
	text-align: left;
}

.main_r {
	float: left;
}

.cell_block {
	width: 300px;
}

input:hover {
	background-color: #4a4a4a4a;
}

#vid_chat {
	border: 1px dashed #4A4A4A;
	padding: 2px 2px;
	width: auto;
	margin: 7px;
	bottom: 0px;
	height: auto;
	position: absolute;
	right: 0px;
	left: 0px;
	top: 0px;
}

.content_center {
	
}

.vid_chat_content {
	border: 1px dashed gray;
	height: 89%;
	margin-bottom: 2px;
	padding: 2px;
	width: auto;
}

.vid_chat_bottom {
	
}

.message {
	background-color: #FFEFD5;
	color: LightSlateGrey;
	font-family: Verdana;
	margin-bottom: 2px;
	text-align: left;
	cursor: pointer;
}

.msg_dttm {
	color: ButtonShadow;
	float: right;
	font-size: 11px;
}

#name_ {
	border: medium none;
	text-align: right;
	width: 52px;
}

#msg_ {
	width: 112px;
}

#msg_cnt {
border: none;
background-color: papayaWhip;
//height: 18px;
//width: 220px;
float:left
}