/*
新细明体      \65B0\7EC6\660E\4F53
细明体        \7EC6\660E\4F53
标楷体        \6807\6977\4F53
黑体          \9ED1\4F53
宋体          \5B8B\4F53
新宋体        \65B0\5B8B\4F53
仿宋          \4EFF\5B8B
楷体          \6977\4F53
仿宋_GB2312   \4EFF\5B8B_GB2312
楷体_GB2312   \6977\4F53_GB2312
微软正黑体     \5FAE\x8F6F\6B63\9ED1\4F53
微软雅黑       \5FAE\8F6F\96C5\9ED1
*/

*{margin:0;padding:0;/* -moz-user-select:none;-khtml-user-select:none;user-select:none */}
form,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,p{list-style:none outside none}
a{text-decoration:none;color:#ccc;outline:none}
a:hover{text-decoration:underline;color:#1298F4}
a img{border:none}
.fr{float:right}
.fl{float:left}

html{height:100%;overflow:hidden}
body{background:url(../bg3.jpg) no-repeat right bottom transparent;background-size:100% 100%;font:12px/1.8 \5FAE\8F6F\96C5\9ED1,\5B8B\4F53; background-color: #2B2B2B;}

/*noscript*/
.ie-noscript-warning{position:absolute;left:50%;top:50%}
.ie-noscript-warning div{position:relative;left:-210px;top:-110px;width:384px;height:171px;background:url(ienoscript.gif) red no-repeat;opacity:0.7;filter:alpha(opacity=70);padding:10px 15px}

/*loadbg*/
.bgloader{background:url(loader.gif) no-repeat #fff center;z-index:10000;position:absolute;top:0;left:0;width:100%;height:100%}

/*任务栏*/
#task-bar{position:absolute;right:0;bottom:0;left:0;width:100%;height:29px;overflow:hidden;border-top:1px solid #272C36;border-color:rgba(20, 20, 20, 0.8);background:#31323A;background:rgba(40, 40, 40, 0.9);opacity:0.9;filter:alpha(opacity=90)}
.task-window{position:absolute;top:0;right:32px;left:2px;height:28px;overflow:hidden}
.task-window li{position:relative;float:left;width:125px;height:26px;margin-right:1px;overflow:hidden;color:#F4F4F4;border:1px solid #272C36;border-color:rgba(30, 30, 30, 0.7);cursor:pointer}
.task-window b{background:url(desktop_spr_x.png) repeat-x;display:block;height:24px;font-weight:normal;border:1px solid;border-color:#6F758A #585C6D #414F5A}
.task-window b:hover{border-color:#AEB2BA #9196A1 #616A77;background-position:0 -25px}
.task-window b:active{border-color:#647382 #8A91A0 #9398A6;background-position:0 -50px}
.task-window b.focus{border-color:#B8BFCA #9EA8B7 #8A99A9;background-position:0 -75px}
.task-window img{position:absolute;top:5px;left:5px;width:16px;height:16px;border-radius:3px}
.task-window span{display:block;width:95px;height:24px;padding-left:25px;line-height:25px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.task-panel{position:absolute;top:0;right:0;padding:4px 5px 0 0}
.task-panel li{float:left}
.task-panel b{float:left;width:22px;height:22px;line-height:10;overflow:hidden;background-image:url(desktop_view.png);background-repeat:no-repeat}
.desktop-view{cursor:pointer;background-position:0 0}
.desktop-view:hover{background-position:-23px 0}
.desktop-view:active{background-position:-46px 0}

/*桌面*/
#desk{position:absolute;top:0;bottom:30px;width:100%;overflow:hidden;*z-index:2}
/*for IE6*/
*html #desk{
	height:expression((function(el){
		el.style.height=document.body.clientHeight-30+"px";
	})(this));
}
/*禁止选中,IE下不兼容*/
#desk ul li,
#desk ul li span,
.title-bar{/* -moz-user-select:none;-khtml-user-select:none;user-select:none */}
#desk ul{width:100%;height:100%;overflow:hidden;position:absolute}
#desk ul li{width:80px;height:57px;padding:10px 0;text-align:center;position:absolute;cursor:pointer}
#desk ul li img{border-radius:3px 3px 3px 3px;display:block;height:32px;width:32px;margin:auto}
#desk ul li span{background:none repeat scroll 0 0 rgba(0, 0, 0, 0.3);border-radius:10px 10px 10px 10px;filter:none;color:#fff;display:inline-block;height:20px;line-height:20px;margin-top:5px;overflow:hidden;padding:0 8px;position:relative;text-align:center;text-overflow:ellipsis;white-space:nowrap;z-index:1;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ui/shortcut_text.png', sizingMethod='scale')}
#desk ul li em{display:none;position:absolute;top:0;left:0;z-index:0;width:80px;height:77px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#000;opacity:0.1;filter:alpha(opacity=10)}
#desk ul li:hover em,
#desk ul li.hover em{display:block}
#desk ul li.focus em{display:block;opacity:0.25;filter:alpha(opacity=25)}

/*窗口*/
.window-container{position:absolute;padding:2px;overflow:hidden;border-radius:3px;background:#656672;box-shadow:0 1px 5px rgba(0, 0, 0, 0.4)}
.window-current{background:#363740;box-shadow:0 2px 20px rgba(0, 0, 0, 0.6)}
.title-bar{position:relative;z-index:10;height:27px;padding:0 10px;line-height:27px;overflow:hidden;color:#FFF;border-bottom:1px solid #000;background:url(spr_x.png) repeat-x 0 -108px;cursor:default}
.window-current .title-bar{background-position:0 -31px}
.title-handle{position:absolute;top:6px;right:8px}
.title-handle a{float:left;width:15px;height:15px;margin-left:5px;line-height:10;overflow:hidden;background-image:url(frame_handle.gif);background-repeat:no-repeat}
.ha-hide{background-position:-15px 0}
.ha-hide:hover{background-position:-15px -15px}
.ha-max{background-position:-30px 0}
.ha-max:hover{background-position:-30px -15px}
.ha-revert{background-position:-45px 0}
.ha-revert:hover{background-position:-45px -15px}
.ha-close{background-position:0 0}
.ha-close:hover{background-position:0 -15px}
.window-frame{position:absolute;top:30px;right:2px;bottom:1px;*bottom:29px;left:2px;background:#FFF}
/*for IE6*/
*html .window-frame{
	height:expression((function(el){
		el.style.height=el.parentNode.clientHeight-59+"px";
	})(this));
}
.window-frame iframe{position:absolute;border:0;height:100%;width:100%;top:0;bottom:0;left:0;right:0}
.window-mask{z-index:9000000;background:none;height:100%;position:absolute;width:100%;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;display:none}
.window-loading{z-index:9000001;position:absolute;width:100%;height:100%;background:rgba(255, 255, 255, 0.68) url(loading.gif) center center no-repeat}
.set-bar{_width:100%;position:absolute;background:#E8E8E8;border-top:1px solid #b9b9b9;bottom:0;height:30px;left:2px;right:2px;bottom:2px}
.set-bar .btn{margin-top:3px;margin-right:5px;border:1px solid #E8E8E8;border-radius:3px 3px 3px 3px;color:#7D7D7D;cursor:pointer;display:inline-block;height:20px;padding:1px;position:relative}
.set-bar .btn:hover{border:1px solid #7D7D7D;background:#fff;color:#333;text-decoration:none}
.set-bar .btn .icon{width:16px;height:16px;left:8px;position:absolute;top:3px}
.set-bar .btn .ico-refresh{background:url(ico_refresh.png)}
.set-bar .btn .ico-setting{background:url(ico_setting.png)}
.set-bar .btn .ico-top{background:url(ico_top.png)}
.set-bar .btn .btn-con{height:20px;line-height:21px;overflow:hidden;padding:0 8px 0 26px}

/*右键提示*/
.popup-menu{background:url(popup_menu.gif) repeat-y scroll 0 0 #FFFFFF;border:1px solid #AEAEAE;box-shadow:0 0 6px rgba(0, 0, 0, 0.4);position:absolute;width:125px}
.popup-menu ul{padding:1px;position:relative}
.popup-menu li{height:24px;position:relative;vertical-align:middle}
.popup-menu a{background-position:100px 100px;border-radius:2px 2px 2px 2px;color:#333333;display:block;height:24px;line-height:24px;overflow:hidden;padding-left:35px}
.popup-menu a:hover,.popup-menu a.focus{background-color:#3B7CE6;background-position:0 -780px;color:#FFFFFF;text-decoration:none}

/* 新增 */
#desk .userListBody{overflow:auto; height:80%;}
#desk .userListBody li{position:relative;/* background-color: lightBlue; */width: auto;height: 50px;margin: 8px 6px 0;border-radius: 8px;}
#desk .userListBody li:hover{ background-color:rgba(245, 197, 212, 0.9);/* color:#EBE2D3*/ color: #222222; }
/*渐变效果*/
#desk .userListBody li{-webkit-transition:color .5s ease-out,background-color .5s ease-out;
						-moz-transition:color .5s ease-out,background-color .5s ease-out;
						-o-transition:color .5s ease-out,background-color .5s ease-out;
						 transition:color .5s ease-out,background-color .5s ease-out;}
#desk .userListBody li:hover{-webkit-transition: color .25s ease-in, background-color .25s ease-in;
							-moz-transition: color .25s ease-in, background-color .25s ease-in;
							-o-transition: color .25s ease-in, background-color .25s ease-in;
						 	transition: color .25s ease-in, background-color .25s ease-in;}

#desk .u_banner{height:20%;border:1px;background-image:url(u_banner1.png);max-height:90px;box-shadow: rgb(120, 147, 141) -5px 4px 10px -3px;}
#desk .ub_head{left:10px;top:10px;border-radius:7px;position:absolute;height:15%;max-height:70px;width: 26%;max-width: 70px;}
#desk .ub_head .ubh_file{}
#desk .u_banner .ub_details {width: auto;top: 10px;position: absolute;left: 90px;right: 10px;max-height: 70px;height: 15%;}
#desk .u_banner .ub_details .ubd_name{height: 40%;margin-top: 4px;}
#desk .u_banner .ub_details .ubd_phrase{height: 40%;margin-top: 4px;}
.ubd_name:hover,.ubd_phrase:hover{background-color:#dbe2ed; border-radius: 4px;}

#desk .ListBlock{padding:0;}
#desk .fullHeight {height: 100%}
.ListBlock .f_img{background-image: url(../shortcut/news.png);background-size: 100% 100%;width: 40px;height: 40px;float: left;border-radius: 8px;margin: 5px}
.ListBlock .f_details{float: left;height: 100%;width: auto;margin-left: 5px;}
.ListBlock .f_details .f_name{text-align: left;font-size: 12px;margin-top: 5px}
.ListBlock .f_details .f_phrase{color: gray;font-size: 12px;}
.ListBlock .f_right{position: absolute;height: 100%;right: 0;width: 62px;}
.ListBlock .f_right .f_rtop{margin: 5px 5px 0 0;}
.ListBlock .f_right .f_rbottom{margin: 0 5px 0 0;}
.ListBlock .f_right .f_rtop:hover{background-color: lightgray;}
.ListBlock .f_right .f_rbottom:hover{background-color: lightgray;}
/* .divBgImg {background-image: url(img/avatar/hd01.jpg);height: 100%;width: 100%;background-size: 100% 100%;} */
.bgfullsize {background-image: url(../shortcut/news.png);background-size: 100% 100%;}
.debug {border: 1px solid red;}
.inputtransparent{background-color: transparent;border: transparent;}
	
